<DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8"
      <title>Sinatra on the fly</title>
      <link ref="stylesheet" href="style.css"></link>
      <script></script>
    </head>
      <body>
        <h1> welcome to codecore <%= @name %> </h1>

<h2>Sinatra</h2>


        <section>Hello</section>
        <header></header>
        <footer></footer>
        <nav></nav>
        <aside></aside>
        <figure></figure>
        <div></div>
      </body>





